/* VARIABLES */
$letraBase: -apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
$colorLetraBase: white;
$colorletraGris: rgb(158, 158, 158);
$backgroundTarjeta: rgb(60, 62, 68);
$backgroundBase: rgb(36, 40, 47);
/* FIN VARIABLES */